*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.section-container {
    height: 70vh;
}

#body-message {
    height: 2rem;
}

.invalid-feedback {
    width: 10vw;
}

.table-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-content {
    padding-top: 2rem;
    background-color: white;
    height: 60vh;
}

.nav-link {
    color: rgb(54, 50, 50) !important;
}
