*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.section-container {
    height: 70vh;
}

#body-message {
    height: 2rem;
}

.invalid-feedback {
    width: 10vw;
}

.table-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: rgb(54, 50, 50) !important;
}

.min-vh-80 {
    min-height: 80vh;
}

.mt-4rem {
    margin-top: 4rem;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0.2rem !important;
    border-top-right-radius: 2rem !important;
}

#pills-tab {
    position: relative;
}

#table-tab,
#div-2-tab,
#div-3-tab {
    position: absolute;
    top: -2.5rem;
}

#table-tab {
    z-index: 4;
}

#div-2-tab {
    left: 3rem;
    z-index:3
}

#div-3-tab {    
    left: 8.5rem;
    z-index: 1;
}
